@{
    ViewData["Title"] = "Flip-Flop";
}


<html>
<head>
    <link rel="stylesheet" href="~/css/AboutStyle.css" />
    <h2>@ViewData["Title"]</h2>
</head>
<body>
    <div>
        @ViewData["Message"]
    </div>
</body>
</html>

  





