@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Flip-Flop office :Tur-Malca 18,TLV<br />
    <abbr title="Phone">Phone:</abbr>
    050-8328798
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">shahaf721@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">alongur@gmail.com</a>
</address>
