@model flip_flop.Models.TicketsHistory

@{
    ViewData["Title"] = "Edit";
}

<div>
    <table>
        @foreach (var svn in ViewBag.svn)
        {
            <tr>
                <th>will be sold</th>
                <td>@svn.Key  </td>
                <td>@svn.Value  </td>
            </tr>
        }
    </table>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
